<!DOCTYPE html>
<html>
<head>
    <title>Kannada PDF to Word</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Upload Kannada PDF</h1>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    <form method="POST" enctype="multipart/form-data" class="upload-form">
        <input type="file" name="pdf">
        <div class="pdf-type">
            <label>ದಾಖಲೆ ಶೀರ್ಷಿಕೆ
                <input type="text" name="title">
            </label>
        </div>
        <div class="pdf-type">
            <label>ಲೇಖಕ
                <input type="text" name="author">
            </label>
        </div>
        <div class="pdf-type">
            <label><input type="radio" name="pdf_type" value="digital" checked> Digital</label>
            <label><input type="radio" name="pdf_type" value="scanned"> Scanned</label>
        </div>
        <div class="pdf-type">
            <label><input type="checkbox" name="use_google"> ಉನ್ನತ ಖಚಿತತೆ OCR (Google Vision)</label>
        </div>
        <button type="submit" class="convert-btn">Convert</button>
    </form>
    {% if download_docx %}
    <div id="download-section">
        <a href="{{ download_docx }}">Download Word</a>
        {% if download_txt %}
        | <a href="{{ download_txt }}">Download Text</a>
        {% endif %}
    </div>
    {% endif %}

</body>
</html>
